/* container.css */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 6rem; /* Ajuste conforme necessário */
  background-color: #409443; /* Exemplo de cor fixa para o header */
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.navbar-right {
  display: flex;
  gap: 3rem;
  font-size: 1.2rem;
}

.navbar-title {
  text-align: center;
  color: white;
  background-image: none;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 80%;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: 0.3s;
}

.navbar-title:hover{
  opacity: 0.7;
}

.navbar-options, .navbar-title {
  text-decoration: none;
  color: white;
}

.navbar-options {
  color: white;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 80%;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: 0.3s;
}

.navbar-options:hover {
  transform: scale(1.09);
  font-weight: 700;
}

.main-content {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.footer {
  height: 3rem; /* Ajuste conforme necessário */
  background-color: #409443; /* Exemplo de cor fixa para o footer */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
